/*home.html*/

#mainHome {
	height: 80vh;
	font-family: Helvetica, sans-serif;
}

#banner {
	font-size: 120px;
	text-align: center;
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	font-weight: 300;
	position: relative;
	top: 70px;
	margin-bottom: 100px;
}

#tagline {
	color: gray;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 30px;
	/*position: relative;*/
	margin-bottom: 50px;
}

#signin {
	text-align: center;
}

#username {
	height: 25px;
	width: 150px;
	font-size: 16px;
	color: gray;
}

#go {
	height: 31px;
	background-color: gray;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	position: relative;
	/*top: -1px;*/
	/*left: -7px;*/
}




/*todos.html*/

#mainTodos {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}

/*left*/
#left {
	float: left;
	width: 20%;
	min-height: 100vh;
	/*todo*/
	min-width: ;
	padding-top: 50px;
	/*border: 1px solid black;*/
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(232,232,232,1);
}

#left .folder {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	width: 90%;
	height: 40px;
	/*text-align: center;*/
	/*margin-bottom: 20px;*/
	padding-left: 10%;
	padding-top: 15px;
	cursor: pointer;
}

#left .number {
	float: right;
	/*margin-left: 50px;*/
	/*border: 1px solid black;*/
	position: relative;
	right: 20px;
}

#middle {
	float: left;
	width: 40%;
	/*todo*/
	min-width: ;
	margin-top: 50px;
	position: absolute;
	top: 0px;
	left: 20%;

}

#right {
	float: left;
	width: 39%;
	/*todo*/
	min-width: ;
	margin-top: 50px;
	position: absolute;
	left: 60%;

}





























