<!DOCTYPE html>
<html ng-app='plainApp'>
	<head>
		<title></title>
		<link href='client/css/style.css' rel='stylesheet'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
		<script type="text/javascript" src="/client/js/app.js"></script>
		<script type="text/javascript" src="/client/js/controllers/sample-controller.js"></script>
	</head>

	<body>

		<div ng-view></div>		

	</body>
</html>