<div id='mainTodos' ng-controller="SampleController">

	<div id='left'>
		<div class='folder' ng-repeat="folder in currentUser.folders" ng-click="switchFolder(folder)" ng-class='{active: folder==currentFolder, top: folder==currentUser.folders[0]}'>{{folder.name}}<div class='number'>{{folder.todos.length}}</div></div>
	</div>

	<div id='middle'>
		<div id="middleLeft">
			<div class='todo' ng-class="{'hide': $odd}" ng-repeat="todo in listOfTodos()">{{todo}}</div>
		</div>

		<div id='middleRight'>
			<div class='todo' ng-class="{'hide': $even}" ng-repeat="todo in listOfTodos()">{{todo}}</div>
		</div>
	</div>

	<div id='right'>
		<form ng-submit="createTodo()">
			<input class="create" type="text" placeholder="create new task" ng-model="newTodo">
		</form>

	 	<form ng-submit="createFolder()">
			<input class="create" type="text" placeholder="create new folder" ng-model="newFolder">
		</form>
	</div>

<div>