<div id='mainTodos' ng-controller="SampleController">

	<div id='left'>
		<p ng-hide="currentUser.folders">&nbsp;</p>
		<div class='folder' ng-class='{}' ng-repeat="folder in currentUser.folders" ng-click="switchFolder(folder)">{{folder.name}}<div class='number'>{{folder.todos.length}}</div></div>
	</div>

	<div id='middle'>
		<p ng-hide="listOfTodos()">&nbsp;</p>
		<li ng-repeat="todo in listOfTodos()">{{todo}}</li>
	</div>

	<div id='right'>
		<form ng-submit="createTodo()">
			<input type="text" placeholder="add new task" ng-model="newTodo">
		</form>

	 	<form ng-submit="createFolder()">
			<input type="text" placeholder="add new folder" ng-model="newFolder">
		</form>
	</div>

 	

	

	

	 
<!-- 	<p>current user: {{currentUser.name}}</p>
	<p>current folder: {{currentFolder.name}}</p> -->
<div>